/* You can add global styles to this file, and also import other style files */

.map-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
   
  }
  .testing{
    position: relative;

  }
  
  .map-frame {
    padding: 10px;
    border: 2px solid black;
    display: flex;  
    flex-wrap: wrap;
    width: 710px;
    background-color: rgb(26, 76, 80);
  }
  
  #map {
    height: 550px;
    width: 100%;
  }