<div class="sidenav">
  <button class="button" (click)="appMap.makeaLINE()">test method button</button>
  <button class="button" (click)="appMap.readGeoJson()">load Mapping</button>
  <input #input class="input-box" placeholder="enter path to file" />
  <button class="button" (click)="appMap.sendpath(input.value)">send Path</button>
  <div id="space"></div>
  <button class="button" > compute Dijkstra </button>
  <button class="button" >compute A* </button>
  <input #start class="input-box" placeholder="start" inputmode="numeric" />
  <input #end class="input-box" placeholder="goal" inputmode="numeric" />
  <input #alpha class="input-box" placeholder="alpha" />
</div>


<div class="main">
  <app-map [uploaded]="uploaded" #appMap></app-map>
</div>



<router-outlet></router-outlet>