
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
example-spacer {
    flex: 1 1 auto;
  }
  
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgb(94, 187, 164);
    overflow-x: hidden;
    padding-top: 20px;
  }
  .button {
    background-color: #df428b; 
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #d6eef0; /* Green */
    color: black;
  }


/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.text{
  font-size: 16px;
  color: rgb(255, 255, 255);

}
.container {
  display: block;
  color: rgb(255, 255, 255);
  position: relative;
  padding-left: 27px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 16px;
}
/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #f321b4;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}



#space{
  height: 20px;
}

.block{
  width: 50px;
}

  

#input-box {
  
    width: 200px;
  height: 20px;
  }

  .input_number{

    width: 100px;
    height: 20px;

  }
  .flex{
    display: flex;
  flex-direction: row;
  }